<h1>Create New Quidditch Team:</h1>
<form action='/teams' method="post">
    <label for="name">Name: <input type="text" name="name" id="name"> </label><br></br>
    <label for="chaser">Chaser: <input type="text" name="chaser" id="chaser"> </label><br></br>
    <label for="beater">Beater: <input type="text" name="beater" id="beater"> </label><br></br>
    <label for="keeper">Keeper: <input type="text" name="keeper" id="keeper"> </label><br></br>
    <label for="seeker">Seeker: <input type="text" name="seeker" id="seeker"> </label><br></br>
    <button type="submit" name="submit" value="submit">Submit</button>
</form>