<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">
    </head>
    <body>
        <h1>Quidditch Teams:</h1>
            <ol>
            <% @teams.each do |team| %>
              <li> <%= team.name %></li>
            <% end %>
            </ol>
    </body>
</html>
