<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">
    </head>
    <body>
        <h1 class="team">Quidditch Teams:</h1>
            <ul>
            <% @teams.each do |team| %>
              <h2><li>Team Name: <%= team.name %></li></h2>
              <h3>Team Owner: <%= team.user.username %></h3>
              <button class="w3-button w3-teal"><a href='/teams/<%= team.id %>'>View Team</a></button>
              <hr>
            <% end %>
            </ul>
        <button class="w3-button w3-teal"><a href='/teams/new'>Create New Team</a></button>
    </body>
</html>
