body, html {
    height: 100%;
}

body {
    font-family: 'Henny Penny', cursive;
    text-decoration: none;
    background-image: url('/images/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: darkred;
    font-family: 'Henny Penny', cursive;
    font-size: 45px;
    padding-left: 60px;
    text-shadow: 2px 2px #d4b049;
}

.w3-teal, .w3-hover-teal:hover {
    color:#fff;
    background-color: #566c46;
}

a {
    color:#fff;
    font-family: 'Lato', sans-serif;
}
