body, html {
    height: 100%;
}

body {
    text-decoration: none;
    background-image: url('/images/woncup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
}


h1 {
    color: red;
    font-family: 'Henny Penny', cursive;
    font-size: 45px;
    text-shadow: 2px 2px #d4b049;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 80px;
} 

#homepage {
    color: #fff;
    text-shadow: 2px 2px #dd453f;
    
}


h2, h3 {
    font-family: 'Lato', sans-serif;
}

.w3-bar {
    text-align:center;
}

.w3-teal, .w3-hover-teal:hover {
    color:#fff;
    background-color: #464e6c;
}

a {
    color:#fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

ol li {
    font-family: 'Lato', sans-serif;
}

