<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">  
    </head>
        <body>
            <h1 class="signup">Sign Up Failed</h1>
            <h3>Please enter a valid username, email and password. <button class="w3-button w3-teal"><a href='/signup'>Sign Up</a></button></h3>
        </body>
</html>