<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">
    <style>label {font-family: 'Lato', sans-serif;}</style>
  </head>
    <h1>Sign Up:</h1>
    <form action='/signup' method="post">
      <label for="username">Username: <input id="username" type="text" name="username" value=""></label>
      <br></br>
      <label for="email">Email: <input id="email" type="text" name="email" value=""></label>
      <br></br>
      <label for="password">Password: <input id="password" type="password" name="password" value=""></label>
      <br></br>
      <button class="w3-button w3-teal">Sign Up</button>
    </form>
</html>