<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">
  </head>
    <body>
      <form action="/login" method="post" style="border:1px solid #ccc">
        <div class="container">
          <h1 class="login">Login</h1>
          <h3>Please fill in this form to Login.</h3>
          <hr>
          <label><b>Username:</b></label>
            <input type="text" name="username" placeholder="Enter Username" required>
  
          <label><b>Password:</b></label>
          <input type="password" name="password" placeholder="Enter Password" required>
          
          <div class="clearfix">
            <button class="w3-button w3-teal">Login</button>
          </div>
        </div>
      </form>
    </body>
</html>