<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">  
    </head>
         <style>
         body {font-family: 'Lato';}
      * {box-sizing: border-box}

      input[type=text], input[type=password] {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          display: block;
          border: none;
          background: #f1f1f1;
      }
      
      input[type=text]:focus, input[type=password]:focus {
          background-color: #ddd;
          outline: none;
      }
      
      h1 {
          margin-top: 5px;
          margin-bottom: 5px;
      }
      
      hr {
          border: 1px solid #f1f1f1;
          margin-bottom: 25px;
      }

      button {
          background-color: #566c46;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          opacity: 0.8;
      }
      
      button:hover {
          opacity:1;
      }

      .container {
          padding: 16px;
          background-color: #d3bc8bde
      }
</style>
        <body>
          <h1>Sign Up Completed</h1>
            <br></br>
              <p>Registration has been completed<br>You now have access to the Quidditch Fantasy league.</p>
              <a href='/teams'><button class="w3-button w3-teal">View Teams</button></a>
        </body>
</html>