<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">  
    </head>
        <body>
          <h1 class="signup">Sign Up Completed</h1>
            <br></br>
              <p>Registration has been completed<br>You now have access to the Quidditch Fantasy League.</p>
              <a href='/teams'><button class="w3-button w3-teal">View Teams</button></a>
        </body>
</html>