<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Quidditch</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">
  </head>
    <body>
      <form action='/signup' method="post" style="border:1px solid #ccc">
        <div class="container">
          <h1 class="signup">Sign Up</h1>
          <h3>Please fill in this form to create an account.</h3>
          <hr>
          <label><b>Username:</b></label>
          <input id="username" type="text" placeholder="Enter Username" name="username" value="">
          
          <label><b>Email:</b></label>
          <input id="email" type="text" placeholder="Enter Email" name="email" valule="">
      
          <label><b>Password:</b></label>
          <input id="password" type="password" placeholder="Enter Password" name="password" value="">
            <button type="submit" class="w3-button w3-teal">Sign Up</button>
        </div>
      </form>
    </body>
</html>