<!DOCTYPE html>
<html class="home-bg">
  <head>
    <title>Fantasy Quidditch</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">
    <style>body {background-image: url('/images/qpitch.jpg');} </style>
  </head>
  <body>
      <h1 id="homepage">Welcome to Fantasy Quidditch!</h1>
        <div class="w3-bar" >
            <button class="w3-button w3-teal"><a href="/login" style="text-decoration:none">Login</a></button>
            <button class="w3-button w3-teal"><a href="/signup" style="text-decoration:none">Sign Up</a></button><br></br>
        </div>
  </body>
</html>