<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Quidditch</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Henny+Penny" rel="stylesheet">
    <style>a {font-size:30px; color: #fff;}</style>
  </head>
  <body>
      <div class="container">
      <h1>Welcome to Fantasy Quidditch!</h1>
          <div style="padding-left: 320px">
          <a href="/login" style="text-decoration:none">Login</a><br></br>
          <a href="/signup" style="text-decoration:none">Sign Up</a><br></br>
          </div>
      </div>
  </body>
</html>