<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Quidditch</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <div class="container">
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button class="w3-button w3-teal">Logout</button>
        </form>
      <%= yield %>
    </div>
  </body>
</html>